  <footer>
    <section class="row">
      <section class="container">
        <section class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
          <section class="col-lg-3 col-sm-3 col-md-3 col-xs-12">
            <article class="footer-links-product">
              <p class="footer-links-title">Product</p>
              <ul class="footer-links-list">
                <li><a href="{{ page.base_url }}product-apm" title="Product APM">APM</a></li>
                <li><a href="{{ page.base_url }}product-rum" title="Real User Monitoring">Real User Monitoring</a></li>
                <li><a href="{{ page.base_url }}mobile" title="Mobile">Mobile</a></li>
                <!--<li><a href="{{ page.base_url }}predictive-analytics" title="Predictive Analytics">Predictive Analytics</a></li>-->
                <li><a href="{{ page.base_url }}product-load-test" title="Load Testing">Load Testing</a></li>
              </ul>
            </article>
          </section>
          <section class="col-lg-3 col-sm-3 col-md-3 col-xs-12">
            <article class="footer-links-about">
              <p class="footer-links-title">About us</p>
              <ul class="footer-links-list">
                <li><a href="{{ page.base_url }}leadership" title="Leadership">Leadership</a></li>
                <!--<li><a href="{{ page.base_url }}news" title="News">News</a></li>-->
                <li><a href="{{ page.base_url }}clients" title="Clients">Clients</a></li>
                <li><a href="{{ page.base_url }}fact" title="Facts">Facts</a></li>
                <li><a href="{{ page.base_url }}price" title="Pricing">Pricing</a></li>
                <li><a href="{{ page.base_url }}contactus" title="Contact Us">Contact us</a></li>
              </ul>
            </article>
          </section>
          <section class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
            <article class="footer-links-support">
              <p class="footer-links-title">Support</p>
              <ul  class="footer-links-list">
                <li><a href="{{ page.base_url }}faq" title="FAQ">FAQ</a></li>
                <li><a href="{{ page.base_url }}blog" title="Blog">Blog</a></li>
              </ul>
            </article>
          </section>
          <section class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
            <article class="footer-links-appedo">
              <p class="footer-links-title">About Appedo</p>
              <p class="footer-txt">Appedo is the next gen APM for the high-tech world. Appedo provides health-care for your apps. Our performance data enables you to overcome any bottlenecks, in the least possible time and cost. Appedo eliminates multiple tools and keeps your dev, test, ops and business teams on the same page.</p>
            </article>
            <article class="footer-btn-cont"> <a href="{{ page.base_url }}#">
              <a href="{{ page.base_url }}signup"><article class="footer-btn">Create Free Account</article></a>
              </a> <a href="{{ page.base_url }}#">
              <article class="footer-more">Learn more</article>
              </a> </article>
          </section>
        </section>
      </section>
    </section>
    <article class="footer-bottom">
      <article class="footer-bottom-logo">
        <figure><img src="{{ page.base_url }}img/footer-logo.png"></figure>
      </article>
      <article class="footer-copyright">© 2014 Appedo. All rights reserved.</article>
      <article class="footer-topbtn"><a href="{{ page.base_url }}#top">
        <figure><img src="{{ page.base_url }}img/top-btn.png"></figure>
        </a></article>
    </article>
  </footer>